Additional requirements
o There must be an option to choose and display the nodes that are on the critical path. If
there is more than one path that is critical, then all paths must be displayed. Paths that
are not critical should not be displayed.
o There must be the ability to change the duration of an activity once the paths have been
determined. This may cause the generation of a new critical path.
o There must be the ability to create reports (text files). The user must have the ability to
determine the name of each report file. Each file must contain the following
information with appropriate and readable labels:
 Title for the report
 Date and time of creation
 List of all activities in alphanumeric order with current duration
 List of all paths with the activity names and total duration
